/* style sheet */
body
{
	background-color: grey;
}
h1
{
	color: rgba(120,200,0,100);
	font-family:Courier;
}
h2
{color: rgba(120,200,0,100);
	font-family:Courier;
	
}

p
{
	font-family: Comic Sans MS; 
}
